<div id="form-box">
    <label for="firstName">First Name:</label>
    <input id="firstName" [(ngModel)]="firstName" placeholder="Nombre" />
  
    <label for="lastName">Last Name:</label>
    <input id="lastName" [(ngModel)]="lastName" placeholder="Apellido" />
  
    <label for="age">Age:</label>
    <input id="age" type="number" [(ngModel)]="age" placeholder="Edad" />
  
    <button (click)="addStudent()">Agregar Student</button>
  </div>
  
  <button (click)="getAll()">Cargar datos</button>
  
  <div id="box" *ngIf="students.length > 0">
    <div id="box-card" *ngFor="let student of students">
      <div id="box-img">
        <img src="descargar.png" alt="XD">
      </div>
      <div id="box-info">
        <h2>{{ student.firstName }} {{ student.lastName }}</h2>
        {{ student.age }} años
      </div>
    </div>
  </div>
  